USE UTILITIES
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* -----------------------------------------------------------------------------------------------------------
   Procedure Name  :  etl.di_ProcessLog
   Business Analyis:
   Project/Process :   
   Description     :  Provides a log of all etl operations
                      
                        
   Author          :  Bob Bowers  
   Create Date     :  04/28/2025

   ***********************************************************************************************************
   **         Change History                                                                                **
   ***********************************************************************************************************

   Date          Version       Author          Description
   --------      --------     -----------      ------------


   EXEC UTILITIES.etl.di_ProcessLog @ID OUTPUT
                                   , NULL
                                   , 'Patient Surveys'
                                   , 'Patient Surveys - NRC'
                                   , 'Import'
                                   , '12/1/2025'
                                   , NULL
                                   , 'Source'
                                   , 'Target'
                                   , 'ArchivePath'
                                   , NULL
                                   , NULL

   DECLARE @ID  int
   EXEC UTILITIES.etl.di_ProcessLog @ID OUTPUT
                                   , 4
                                   , 'Patient Surveys'
                                   , 'Patient Surveys - NRC'
                                   , 'Import'
                                   , '12/1/2025'
                                   , '12/31/2025 18:00'
                                   , 'Source'
                                   , 'Target'
                                   , 'ArchivePath'
                                   , 100
                                   , 'Description'

    SELECT * FROM ADMINISTRATION.etl.ProcessLog 
*/ -----------------------------------------------------------------------------------------------------------   
ALTER PROCEDURE [etl].[di_ProcessLog](
                                       @OutputID          int OUTPUT
                                     , @ProcessLogID      int          
                                     , @ETLApplication    varchar(128)
                                     , @ETLProcess        varchar(128)
                                     , @ProcessStep       varchar(128)
                                     , @Start             datetime     = NULL
                                     , @End               datetime     = NULL
                                     , @Source            varchar(255) = ''
                                     , @Target            varchar(255) = ''
                                     , @ArchivePath       varchar(255) = ''
                                     , @RecordCount       bigint       = NULL
                                     , @Description       varchar(500) = ''
                                     )

AS
BEGIN

-- Declarations
DECLARE @Application            varchar(128) = 'ETL Operations' 
DECLARE @Version                varchar(25)  = '1.00.001'

DECLARE @ProcessID              int          = 214
DECLARE @Process                varchar(128) = 'Logging'

DECLARE @BatchOutID             int
DECLARE @BatchDescription       varchar(1000) = @@ServerName + '.Utilities.etl.di_ProcessLog  - ' + @Version
DECLARE @BatchDetailDescription varchar(1000)
DECLARE @BatchMessage           varchar(MAX)
DECLARE @User                   varchar(128) = SUSER_NAME()

DECLARE @AnticipatedRecordCount int 
DECLARE @ActualRecordCount      int

DECLARE @ETLApplicationID       int
DECLARE @ETLProcessID           int

SET NOCOUNT ON

BEGIN TRY

--  Initialize Batch
    EXEC Admin.Utilities.logs.di_Batch @BatchOutID OUTPUT,  NULL, 'BatchStart', @BatchDescription, @ProcessID, @Process
 ----------------------------------------------------------------------------------------------------------------------------------------------------

    SET @BatchDetailDescription = '010/:  Get Application and Process IDs'
    EXEC Admin.Utilities.logs.di_Batch @BatchOutID OUTPUT,  @BatchOutID, 'DetailStart', @BatchDetailDescription

    --  ETL Application	ID
      IF ISNULL(@ETLApplication, '') = '' 
        BEGIN 
          SET @ETLApplicationID = 0
        END
      ELSE
        BEGIN
          SELECT @ETLApplicationID = ApplicationID FROM ADMINISTRATION.[admin].[Application] WHERE ApplicationName = @ETLApplication
        END

    -- ETL Process ID
      IF ISNULL(@ETLProcess, '') = ''
        BEGIN
          SET @ETLProcessID = 0
        END
      ELSE
        BEGIN
          SELECT @ETLProcessID     = ProcessID     FROM ADMINISTRATION.[support].[Process]   WHERE [Name]          = @ETLProcess 
        END

      SET @AnticipatedRecordCount = 0
      SET @ActualRecordCount      = 0
	
    EXEC Admin.Utilities.logs.di_Batch @BatchOutID OUTPUT,  @BatchOutID, 'DetailEnd', NULL, NULL, NULL, @AnticipatedRecordCount, @ActualRecordCount
----------------------------------------------------------------------------------------------------------------------------------------------------
 
    SET @BatchDetailDescription = '020/:  Insert or update records'
    EXEC Admin.Utilities.logs.di_Batch @BatchOutID OUTPUT,  @BatchOutID, 'DetailStart', @BatchDetailDescription
	
      IF @ProcessLogID IS NULL
        BEGIN
          INSERT INTO ADMINISTRATION.etl.ProcessLog(ApplicationID
                                                  , ProcessID
                                                  , ProcessStep
                                                  , [Start]
                                                  , [Source]
                                                  , [Target]
                                                  , [ArchivePath]
                                                  , [RecordCount]
                                                  , [Description])
          SELECT                                    @ETLApplicationID
                                                  , @ETLProcessID
                                                  , @ProcessStep
                                                  , @Start
                                                  , @Source
                                                  , @Target
                                                  , @ArchivePath
                                                  , @RecordCount
                                                  , @Description
          SELECT @OutputID = SCOPE_IDENTITY()
        END

      ELSE
        UPDATE L
           SET L.ProcessStep   = CASE WHEN ISNULL(@ProcessStep, '')    <> '' THEN @ProcessStep    ELSE ''   END 
             , L.[End]         = CASE WHEN @END IS NOT NULL                  THEN @END            ELSE NULL END
             , L.[Source]      = CASE WHEN ISNULL(L.[Source], '')      <> '' THEN L.[Source]      ELSE ''   END
             , L.[Target]      = CASE WHEN ISNULL(L.[Target], '')      <> '' THEN L.[Target]      ELSE ''   END
             , L.[ArchivePath] = CASE WHEN ISNULL(L.[ArchivePath], '') <> '' THEN L.[ArchivePath] ELSE ''   END
             , L.[RecordCount] = CASE WHEN @RecordCount IS NOT NULL          THEN @RecordCount    ELSE NULL END
             , L.[Description] = CASE WHEN ISNULL(L.[Description], '') = ''  THEN @Description    ELSE L.[Description] + ' ' + @Description END
        FROM ADMINISTRATION.etl.ProcessLog L
        WHERE ProcessLogID = @ProcessLogID

    EXEC Admin.Utilities.logs.di_Batch @BatchOutID OUTPUT,  @BatchOutID, 'DetailEnd', NULL, NULL, NULL, @AnticipatedRecordCount, @ActualRecordCount
----------------------------------------------------------------------------------------------------------------------------------------------------

--  Close batch
    EXEC Admin.Utilities.logs.di_batch @BatchOutID OUTPUT, @BatchOutID, 'BatchEnd'

END TRY

BEGIN CATCH
DECLARE @Err              int
     ,  @ErrorMessage     varchar(Max)
     ,  @ErrorLine        varchar(128)
     ,  @Workstation      varchar(128) = @Application
     ,  @Procedure        VARCHAR(500)

    IF ERROR_NUMBER() IS NULL 
      SET @Err =0;
    ELSE
      SET @Err = ERROR_NUMBER();

    SET @ErrorMessage = ERROR_MESSAGE()
    SET @ErrorLine    = 'SP Line Number: ' + CAST(ERROR_LINE() as varchar(10)) 
    SET @Workstation  = HOST_NAME()
    SET @Procedure    = @@SERVERNAME + '.' + DB_NAME() + '.' + OBJECT_SCHEMA_NAME(@@ProcID) + '.' + OBJECT_NAME(@@ProcID) + ' - ' + @ErrorLine + ' - ' + LEFT(@BatchDetailDescription, 7)

    EXEC Admin.Utilities.administration.di_ErrorLog  @Application ,@Process, @Version ,@Err, @ErrorMessage, @Procedure,  @User , @Workstation

    SET @BatchMessage = 'Process Failed:  ' +  @ErrorMessage
    EXEC Admin.Utilities.logs.di_batch @BatchOutID OUTPUT, @BatchOutID, 'BatchEnd', @BatchMessage
    RAISERROR(@ErrorMessage, 16,1)
END CATCH
END